@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@font-face {
  font-family: "utm_bryantlgregular";
  src: url(../assets/fonts/utm_bryantlg-webfont.woff2) format("woff2"), url(../assets/fonts/utm_bryantlg-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.body {
  background-color: #ffffff;
}

.header {
  height: 100px;
}

.header .navbar-element {
  background-color: #ffffff !important;
  margin: 0;
  padding: 0;
  align-items: flex-end;
}

.header .navbar-element .navbar-cover {
  display: flex;
}

.header .navbar-element .navbar-branch-element {
  padding: 0;
  flex: 5;
  display: flex;
  justify-content: center;
}

.header .navbar-element .navbar-branch-element img {
  width: 340px;
  height: 70px;
}

.header .navbar-element .navbar-toggler-element {
  border: 0;
  outline: 0;
}

.header .navbar-element .navbar-collapse-element {
  flex: 7;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding-right: 7vw;
}

.navbar-nav .nav-item .navbar-link-element {
  text-align: center;
  width: 93%;
  color: #505353;
  margin: 7px 8px;
  padding: 6.5px 10px;
  white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ffffff;
  background-color: #B2D235;
  border-radius: 17px;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #ffffff !important;
  background-color: #B2D235;
  border-radius: 17px;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 170px;
    position: relative;
    padding: 0;
  }
  .header .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .navbar-element {
    background: #fefbfb;
  }
  .header .navbar-branch-element {
    padding-right: 0;
    flex: 7 !important;
    display: flex;
    align-items: flex-end;
  }
  .header .navbar-collapse-element {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    flex: 6 !important;
    padding: 0 !important;
  }
  .header .navbar-collapse-element ul {
    display: flex;
    justify-content: center !important;
  }
  .navbar-nav .nav-item .navbar-link-element {
    color: #505353;
    padding: 7.5px 24px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar .navbar-branch-element img {
    height: 62px;
    width: 300px;
  }
}

@media screen and (max-width: 575px) {
  .header {
    height: 65px;
    position: relative;
  }
  .header .navbar-element {
    height: 62px;
    background-color: #ffffff !important;
  }
  .header .container-fluid {
    flex-direction: row-reverse;
  }
  .header .navbar-branch-element {
    flex: 11;
    align-items: center;
    justify-content: center;
    padding-right: 30px !important;
  }
  .header .navbar-branch-element img {
    height: 30px !important;
    width: 150px !important;
  }
  .header .navbar-toggler-element {
    flex: 1;
  }
  .header .navbar-collapse-element {
    position: absolute;
    left: 0%;
    top: 65px;
    width: 100%;
    background: white;
    padding: 0 !important;
  }
  .header .navbar-collapse-element .navbar-nav {
    margin-top: 20px;
  }
  .header .navbar-collapse-element .navbar-link-element {
    text-align: center;
    font-size: 18px;
    line-height: 46px;
  }
  .header .fas {
    font-size: 22px;
  }
  .header .nav-item .nav-link.active {
    color: #B2D235 !important;
    background-color: #ffffff;
  }
}

.hapo-learn-banner {
  width: 100%;
  height: 655px;
  background-image: url(../assets/img/hapo_learn_banner_pc.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hapo-learn-banner-content {
  margin-left: 36px;
  font-family: "utm_bryantlgregular";
  font-style: normal;
}

.hapo-learn-banner-content-title {
  height: 55px;
  font-size: 45px;
  font-weight: 400;
  line-height: 61.3px;
  color: #11114E;
}

.hapo-learn-banner-content-bold {
  height: 55px;
  font-size: 45px;
  font-weight: 700;
  color: #11114E;
  -webkit-text-stroke-width: 2px;
}

.hapo-learn-banner-content-bold img {
  height: 48px;
  width: 55px;
  vertical-align: middle;
}

.hapo-learn-banner-content-quote {
  margin-top: 15px;
  margin-bottom: 30px;
  width: 300px;
  font-size: 20px;
  color: #505353;
}

.hapo-learn-banner-content .btn {
  width: 370px;
  height: 60px;
  color: #ffffff !important;
  background-color: #B2D235;
  border-radius: 40px;
  font-size: 26px;
  align-items: center;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 36px;
  font-weight: bold;
}

.hapo-learn-banner-content .btn:hover {
  color: #11114E !important;
}

.linear-gradient {
  height: 65px;
  overflow: visible;
}

.linear-gradient .transition-block {
  height: 130px;
  background: linear-gradient(0deg, #ece5e5, #ffffff);
}

@media screen and (max-width: 769px) {
  .hapo-learn-banner {
    width: 100%;
    height: 350px;
    padding: 0;
    background-image: url(../assets/img/hapo_learn_banner_tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
  }
  .hapo-learn-banner-content {
    margin-left: 23px;
    font-family: "utm_bryantlgregular";
    letter-spacing: -0.05em;
  }
  .hapo-learn-banner-content-title {
    height: 35px;
    font-size: 29px;
    font-weight: normal;
    color: #11114E;
    margin-bottom: 8px;
  }
  .hapo-learn-banner-content-bold {
    height: 35px;
    font-size: 29px;
    font-weight: 700;
    color: #11114E;
    margin-top: 5px;
    -webkit-text-stroke-width: 1.5px;
  }
  .hapo-learn-banner-content-bold img {
    height: 23px;
    width: 25px;
    vertical-align: middle;
  }
  .hapo-learn-banner-content-quote {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 300px;
    font-size: 16px;
    color: #505353;
  }
  .hapo-learn-banner-content .btn {
    width: 200px;
    height: 40px;
    font-size: 16px;
    line-height: 36px;
    font-weight: bold;
  }
  .hapo-learn-banner-content .btn:hover {
    color: #11114E !important;
  }
  .linear-gradient {
    height: 45px;
    overflow: visible;
  }
  .linear-gradient .transition-block {
    background: #ffffff;
  }
}

@media screen and (max-width: 575px) {
  .hapo-learn-banner {
    height: 215px;
    width: 100%;
    position: relative;
    justify-content: center;
  }
  .hapo-learn-banner-content {
    width: 265px;
    position: absolute;
    bottom: -200px;
    margin: 0;
    padding: 0 20px;
    white-space: nowrap;
  }
  .hapo-learn-banner-content-title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -1px;
  }
  .hapo-learn-banner-content-bold {
    font-size: 25px;
    margin-top: 0;
    -webkit-text-stroke-width: 1px;
  }
  .hapo-learn-banner-content-quote {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .hapo-learn-banner-content .btn {
    width: 265px;
    height: 50px;
    font-size: 20px;
  }
  .linear-gradient {
    height: 230px;
    overflow: visible;
  }
  .linear-gradient .transition-block {
    height: 310px;
    background: linear-gradient(0deg, #ece5e5, #ffffff);
  }
}

@media screen and (max-width: 415px) {
  .hapo-learn-banner {
    background-position: -60px 0;
  }
}

.main-courses .row {
  padding: 0 50px;
}

.main-courses-item-card {
  width: 100%;
  margin: 0 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;
}

.main-courses-item-card .front-end-image {
  background-color: #3F6185;
  height: 190px;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-courses-item-card .laravel-image {
  background-color: #DC594C;
  height: 190px;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-courses-item-card .php-image {
  background-color: #556598;
  height: 190px;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main-courses-item-card .card-content-title {
  margin-bottom: 5px;
  font-family: "utm_bryantlgregular";
  font-size: 30px;
  font-weight: 800;
  color: #B2D235;
  line-height: 36px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
}

.main-courses-item-card .card-content-body {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: "utm_bryantlgregular";
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  color: #505353;
  letter-spacing: -0.5px;
  text-align: center;
  margin-bottom: 0;
}

.main-courses-item-card .courses-button {
  width: 200px;
  height: 42px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-family: "utm_bryantlgregular";
  font-weight: bold;
  color: #ffffff;
  background: #B2D235;
  border-radius: 22px;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  letter-spacing: -0.5px;
}

.main-courses-item-card .courses-button:hover {
  color: #11114E !important;
}

@media screen and (max-width: 2012px) and (min-width: 1600px) {
  .main-courses .row {
    max-width: 62vw;
  }
  .main-courses .card-content-body {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1025px) {
  .main-courses .row {
    padding: 0px !important;
  }
  .main-courses-item-card .card-content-title {
    font-size: 25px;
    letter-spacing: -1.5px;
  }
}

@media screen and (max-width: 1024px) {
  .main-courses-item-card {
    margin: 0 5px;
    width: 100%;
  }
  .main-courses-item-card-content {
    padding: 0;
  }
  .main-courses-item-card .custom-image {
    max-width: 100%;
    height: auto;
  }
  .main-courses-item-card .front-end-image {
    height: 151px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  .main-courses-item-card .laravel-image {
    height: 151px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  .main-courses-item-card .php-image {
    height: 151px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  .main-courses-item-card .card-content-title {
    height: 22px;
    font-size: 16px;
    line-height: 24.52px;
    margin: 8.5px 0 0 0;
  }
  .main-courses-item-card .card-content-body {
    font-size: 14px;
    overflow: hidden;
    line-height: 18.75px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    width: 198px;
    height: 75px;
  }
  .main-courses-item-card .courses-button {
    height: 27.5px;
    width: 130px;
    font-size: 14px;
    line-height: 12.26px;
    margin-bottom: 15px;
    margin-top: 5px;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 740px) and (min-width: 576px) {
  .main-courses .row {
    padding: 0;
  }
  .main-courses-item-card .card-content-body {
    font-size: 12px;
    letter-spacing: -1px;
    width: fit-content;
    overflow: hidden;
  }
}

@media screen and (max-width: 575px) {
  .main-courses-item {
    height: 389px;
    margin: 15px 0px;
  }
  .main-courses-item-card {
    width: 280px;
  }
  .main-courses-item-card .front-end-image {
    height: 163px;
  }
  .main-courses-item-card .laravel-image {
    height: 163px;
  }
  .main-courses-item-card .php-image {
    height: 163px;
  }
  .main-courses-item-card .card-content-title {
    height: 25px;
    font-size: 20px;
    margin: 18px 0 0 0;
    letter-spacing: -5%;
  }
  .main-courses-item-card .card-content-body {
    width: inherit;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 16px;
  }
  .main-courses-item-card .courses-button {
    height: 35px;
    width: 180px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.row-cover .row {
  padding: 0 45px;
}

.other-courses {
  margin-top: 100px;
}

.other-courses-title {
  font-family: "utm_bryantlgregular";
  font-size: 80px;
  font-weight: 800;
  line-height: 96px;
  letter-spacing: -2px;
  color: #11114E;
  -webkit-text-stroke-width: 2px;
}

.other-courses-title-underline {
  width: 470px;
  height: 6px;
  background-color: #B2D235;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 70px;
}

.other-courses .view-all-our-courses {
  margin-top: 50px;
  color: #90AB26;
  font-family: "utm_bryantlgregular";
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  -webkit-text-stroke-width: 1.5px;
  cursor: pointer;
}

.other-courses .view-all-our-courses img {
  margin-left: 20px;
  vertical-align: middle;
}

.other-courses .view-all-our-courses:hover {
  transform: scale(1.2);
}

.other-courses-item-card {
  width: 100%;
  margin: 0 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s;
}

.other-courses-item-card .css-image {
  background-color: #24ABE2;
  height: 190px;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.other-courses-item-card .rails-image {
  background-color: #E14E40;
  height: 190px;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.other-courses-item-card .java-image {
  background-color: #1B75BB;
  height: 190px;
  max-width: 100%;
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.other-courses-item-card .card-content-title {
  margin-bottom: 5px;
  font-family: "utm_bryantlgregular";
  font-size: 30px;
  font-weight: 800;
  color: #B2D235;
  line-height: 36px;
  letter-spacing: -0.5px;
  white-space: nowrap;
  width: inherit;
  overflow: hidden;
}

.other-courses-item-card .card-content-body {
  font-family: "utm_bryantlgregular";
  font-weight: bold;
  font-size: 14.5px;
  overflow: hidden;
  line-height: 21px;
  text-align: center;
  width: 294px;
  height: 42px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

.other-courses-item-card .courses-button {
  width: 200px;
  height: 42px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 22px;
  font-family: "utm_bryantlgregular";
  font-weight: bold;
  color: #ffffff;
  background: #B2D235;
  border-radius: 22px;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  letter-spacing: -0.5px;
}

.other-courses-item-card .courses-button:hover {
  color: #11114E !important;
}

@media screen and (max-width: 2012px) and (min-width: 1600px) {
  .other-courses .row {
    max-width: 62vw;
  }
  .other-courses .card-content-body {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1300px) and (min-width: 1024px) {
  .other-courses-item-card .card-content-title {
    font-size: 25px;
    letter-spacing: -1.5px;
  }
  .other-courses-item-card .card-content-body {
    width: fit-content;
  }
}

@media screen and (max-width: 1024px) {
  .other-courses {
    margin-top: 40px;
  }
  .other-courses-title {
    height: 85px;
    font-size: 50px;
  }
  .other-courses-title-underline {
    width: 290px;
    height: 4px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .other-courses .view-all-our-courses {
    font-size: 28px;
    margin-top: 35px;
  }
  .other-courses .view-all-our-courses img {
    width: 34px;
    height: 19px;
    margin-left: 10px;
  }
  .other-courses-item {
    height: 280px;
  }
  .other-courses-item-card {
    margin: 0 5px;
    width: 100%;
  }
  .other-courses-item-card-content {
    padding: 0;
  }
  .other-courses-item-card .cover-image {
    height: 151px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  }
  .other-courses-item-card .custom-image {
    width: 70%;
    height: auto;
  }
  .other-courses-item-card .card-content-title {
    font-size: 18px !important;
    line-height: 20px !important;
    height: 22px;
    font-size: 16px;
    line-height: 24.52px;
    margin: 8.5px 0 0 0;
  }
  .other-courses-item-card .card-content-body {
    font-size: 14px;
    overflow: hidden;
    line-height: 18.75px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    width: 198px;
    height: 65px;
    margin-top: 3px;
  }
  .other-courses-item-card .courses-button {
    height: 27.5px;
    width: 130px;
    font-size: 14px;
    line-height: 12.26px;
    margin-bottom: 15px;
    margin-top: 5px;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 740px) and (min-width: 576px) {
  .other-courses .row {
    padding: 0;
  }
  .other-courses-item-card .card-content-body {
    font-size: 14px;
    letter-spacing: -1px;
    width: fit-content;
    overflow: hidden;
  }
}

@media screen and (max-width: 575px) {
  .other-courses {
    margin-top: 20px;
  }
  .other-courses-title {
    height: 85px;
    font-size: 40px;
  }
  .other-courses-title-underline {
    width: 230px;
    height: 4px;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .other-courses .view-all-our-courses {
    font-size: 24px;
    margin-top: 25px;
    -webkit-text-stroke-width: 0.5px;
  }
  .other-courses .view-all-our-courses img {
    width: 31px;
    height: 16px;
    margin-left: 5px;
  }
  .other-courses-item {
    height: 389px;
    margin: 15px 0px;
  }
  .other-courses-item-card {
    width: 280px;
  }
  .other-courses-item-card .cover-image {
    height: 163px;
  }
  .other-courses-item-card .card-content-title {
    font-size: 20px !important;
    height: 25px;
    font-size: 20px;
    margin: 18px 0 0 0;
    letter-spacing: -5%;
  }
  .other-courses-item-card .card-content-body {
    width: inherit;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    margin: 5px 16px;
    letter-spacing: -0.5px;
  }
  .other-courses-item-card .courses-button {
    height: 35px;
    width: 180px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
}

.why-hpl-banner {
  height: 740px;
  margin-top: 110px;
  background: url(../assets/img/why_hpl_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: "utm_bryantlgregular";
}

.why-hpl-banner .why-hpl-text {
  margin-top: 150px;
}

.why-hpl-banner .why-hpl-text-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 70px;
  line-height: 86px;
  text-align: center;
  letter-spacing: -2px;
  -webkit-text-stroke-width: 2px;
  margin-bottom: 20px;
}

.why-hpl-banner .why-hpl-text .text-content {
  font-size: 20px;
  color: #ffffff;
  line-height: 24.5px;
  letter-spacing: -1px;
  margin-bottom: 15px;
}

.why-hpl-banner .why-hpl-text .fa-check-circle {
  font-size: 26px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 7px;
  align-items: center;
  color: #ffffff;
}

.why-hpl-banner .multi-device-image {
  background-image: url(../assets/img/multi_device.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 783px;
  height: 520px;
}

.why-hpl-banner .single-device-image {
  background-image: url(../assets/img/single_laptop.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 478px;
  height: 478px;
  position: absolute;
  left: 15px;
  top: -200px;
  transform: rotate(8deg);
}

@media screen and (max-width: 1912px) and (min-width: 1500px) {
  .why-hpl-banner .why-hpl-text {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1024px) {
  .why-hpl-banner {
    height: 395px;
    margin-top: 80px;
    position: relative;
  }
  .why-hpl-banner .why-hpl-text {
    margin-top: 10px;
  }
  .why-hpl-banner .why-hpl-text-title {
    font-size: 50px;
    line-height: 61px;
    position: relative;
    left: 65%;
    bottom: 30px;
  }
  .why-hpl-banner .why-hpl-text .text-content {
    height: 25px;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    letter-spacing: -0.9px;
    text-align: right;
    position: relative;
    left: 10px;
  }
  .why-hpl-banner .why-hpl-text .fa-check-circle {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 5px;
    align-items: center;
  }
  .why-hpl-banner .multi-device-image {
    width: 378px;
    height: 259px;
    margin-top: 120px;
  }
  .why-hpl-banner .single-device-image {
    width: 277px;
    height: 277px;
    position: absolute;
    left: 15px;
    top: -100px;
  }
}

@media screen and (max-width: 575px) {
  .why-hpl-banner {
    height: 570px;
    width: 100%;
    margin-top: 90px;
    position: relative;
  }
  .why-hpl-banner .why-hpl-text {
    margin-top: 50px;
    padding-left: 0 !important;
  }
  .why-hpl-banner .why-hpl-text-title {
    width: 228px;
    height: 100px;
    font-size: 40px;
    line-height: 40px;
    text-align: left;
    position: relative;
    left: 15%;
    bottom: 20px;
  }
  .why-hpl-banner .why-hpl-text .text-content {
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.5px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 25px;
    text-align: center;
  }
  .why-hpl-banner .why-hpl-text .fa-check-circle {
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 5px;
    align-items: center;
  }
  .why-hpl-banner .multi-device-image {
    width: 316px;
    height: 218px;
    margin-top: 0;
    margin-left: 65px;
  }
  .why-hpl-banner .single-device-image {
    width: 226px;
    height: 226px;
    position: absolute;
    left: 10px;
    top: -100px;
  }
}

@media screen and (max-width: 380px) {
  .why-hpl-text {
    padding-right: 5px;
  }
  .why-hpl-text .text-content {
    font-size: 14px !important;
    letter-spacing: -1px !important;
  }
  .multi-device-image {
    padding-left: 0;
    margin-left: 50px !important;
  }
}

.feedback-slider {
  width: 100%;
  margin-top: 110px;
}

.feedback-slider-title {
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  color: #11114E;
  -webkit-text-stroke-width: 2px;
}

.feedback-slider .feedback-slider-underline {
  width: 338px;
  height: 6px;
  margin-top: 10px;
  background-color: #B2D235;
  border-radius: 5px;
}

.feedback-slider .feedback-slider-content {
  margin-top: 30px;
  text-align: center;
  font-family: "utm_bryantlgregular";
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: -0.5px;
  color: #505353;
}

.feedback-slider .feedback-slider-content p {
  width: 705px;
  height: auto;
}

.feedback-slider-comment {
  margin: 50px 0;
}

.feedback-slider-comment .slide-feedback {
  padding: 0 10px;
  font-family: "utm_bryantlgregular";
}

.feedback-slider-comment .slide-feedback-comment {
  padding: 0;
  background: #ffffff;
  border: 0.5px solid #E2E2E2;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  position: relative;
}

.feedback-slider-comment .slide-feedback-comment::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  border-bottom: 0.5px solid #E2E2E2;
  border-right: 0.5px solid #E2E2E2;
  transform: rotate(45deg);
  position: absolute;
  bottom: -8px;
  left: 20px;
  z-index: 1;
}

.feedback-slider-comment .slide-feedback-comment::after {
  content: '';
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  position: absolute;
  bottom: -0px;
  left: 15px;
  z-index: 2;
}

.feedback-slider-comment .slide-feedback .comment-text {
  padding: 35px 10px 35px 35px;
}

.feedback-slider-comment .slide-feedback-comment p {
  color: #000000;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.5px;
  border-left: 5px solid #D9DADC;
  padding: 10px 15px;
}

.feedback-slider-comment .slide-feedback-user {
  margin-top: 20px;
  margin-left: 25px;
}

.feedback-slider-comment .slide-feedback .user-avatar {
  height: inherit;
  margin-right: 15px;
}

.feedback-slider-comment .slide-feedback .user-info-name {
  font-family: "utm_bryantlgregular";
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #11114E;
  -webkit-text-stroke-width: 1px;
}

.feedback-slider-comment .slide-feedback .user-info-lang {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.feedback-slider-comment .slide-feedback .user-info-vote {
  color: #F2C54F;
}

.feedback-slider-comment .slick-arrow {
  padding: 0 10px;
  z-index: 2;
  width: 30px;
  height: 30px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.5px solid #C4C4C4;
  background: #ffffff;
  position: absolute;
  top: 27%;
}

.feedback-slider-comment .slick-arrow .fas {
  font-size: 15px;
  color: #969494;
}

.feedback-slider-comment .slick-arrow.prev-arrow {
  left: -5px;
}

.feedback-slider-comment .slick-arrow.next-arrow {
  right: -5px;
}

@media screen and (max-width: 1024px) {
  .feedback-slider {
    margin-top: 70px;
  }
  .feedback-slider-title {
    font-size: 50px;
    line-height: 60px;
  }
  .feedback-slider .feedback-slider-underline {
    width: 215px;
  }
  .feedback-slider .feedback-slider-content {
    margin-top: 20px;
    font-size: 20px;
    line-height: 22px;
  }
  .feedback-slider .feedback-slider-content p {
    width: 510px;
  }
}

@media screen and (max-width: 575px) {
  .feedback-slider {
    margin-top: 40px;
  }
  .feedback-slider-title {
    font-size: 40px;
    line-height: 50px;
  }
  .feedback-slider .feedback-slider-underline {
    width: 170px;
  }
  .feedback-slider .feedback-slider-content {
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
  }
  .feedback-slider .feedback-slider-content p {
    width: 325px;
  }
  .feedback-slider-comment {
    margin: 20px 0;
  }
  .feedback-slider-comment .slide-feedback {
    padding: 0 10px;
  }
  .feedback-slider-comment .slide-feedback .comment-text {
    padding: 25px 10px 25px 25px;
  }
  .feedback-slider-comment .slide-feedback-comment p {
    padding-left: 15px;
    font-size: 14px;
    line-height: 17px;
  }
  .feedback-slider-comment .slide-feedback-user {
    margin-top: 15px;
  }
  .feedback-slider-comment .slide-feedback-user img {
    width: 55px;
    height: 55px;
  }
  .feedback-slider-comment .slide-feedback .user-info-name {
    font-size: 18px;
    line-height: 20px;
  }
  .feedback-slider-comment .slide-feedback .user-info-lang {
    font-size: 14px;
    line-height: 18px;
    padding-top: 3px;
  }
  .feedback-slider-comment .slick-arrow {
    width: 25px;
    height: 25px;
    top: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feedback-slider-comment .slick-arrow .fas {
    font-size: 14px;
  }
}

.become-a-member {
  width: 100%;
  height: 500px;
  margin-top: 110px;
  background-image: url(../assets/img/become_a_member.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "utm_bryantlgregular";
}

.become-a-member-content p {
  font-size: 60px;
  line-height: 74px;
  font-weight: bold;
  text-align: center;
  letter-spacing: -0.02px;
  color: #ffffff;
  -webkit-text-stroke-width: 2px;
}

.become-a-member-content .btn {
  width: 377px;
  height: 70px;
  margin-top: 25px;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  color: #90AB26;
  -webkit-text-stroke-width: 1px;
}

.become-a-member-content .btn:hover {
  color: #11114E !important;
}

.statistic {
  width: 100%;
  margin-top: 110px;
}

.statistic-title {
  font-family: "utm_bryantlgregular";
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  color: #11114E;
  -webkit-text-stroke-width: 2px;
}

.statistic-title-underline {
  width: 280px;
  height: 6px;
  margin-top: 10px;
  background-color: #B2D235;
  border-radius: 5px;
}

.statistic .specific-statistic {
  margin-top: 60px;
}

.statistic .specific-statistic-courses {
  padding: 0px 50px;
}

.statistic .specific-statistic-learners {
  padding-left: 0px 50px;
}

.statistic .specific-statistic .item-name {
  font-family: "utm_bryantlgregular";
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #505353;
}

.statistic .specific-statistic .item-number {
  font-family: "utm_bryantlgregular";
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #B2D235;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .become-a-member {
    height: 267px;
    margin-top: 60px;
  }
  .become-a-member-content p {
    width: 405px;
    font-size: 35px;
    line-height: 43px;
    -webkit-text-stroke-width: 1px;
  }
  .become-a-member-content .btn {
    width: 250px;
    height: 46px;
    font-size: 20px;
    line-height: 24px;
    -webkit-text-stroke-width: 0.5px;
  }
  .statistic {
    margin-top: 60px;
  }
  .statistic-title {
    font-size: 50px;
    line-height: 60px;
  }
  .statistic-title-underline {
    width: 175px;
    margin-top: 7px;
  }
  .statistic .specific-statistic {
    margin-top: 30px;
  }
  .statistic .specific-statistic .item-name {
    font-size: 40px;
    line-height: 48px;
  }
  .statistic .specific-statistic .item-number {
    font-size: 40px;
    line-height: 48px;
  }
}

@media screen and (max-width: 575px) {
  .become-a-member {
    height: 181px;
    margin-top: 40px;
  }
  .become-a-member-content p {
    width: 290px;
    font-size: 23px;
    line-height: 28px;
    -webkit-text-stroke-width: 0.5px;
  }
  .become-a-member-content .btn {
    width: 200px;
    height: 37px;
    margin-top: 20px;
    font-size: 18px;
    -webkit-text-stroke-width: 0.3px;
  }
  .statistic {
    margin-top: 50px;
  }
  .statistic-title {
    font-size: 40px;
    line-height: 50px;
    -webkit-text-stroke-width: 3px;
  }
  .statistic-title-underline {
    width: 145px;
    height: 4px;
  }
  .statistic .specific-statistic {
    margin-top: 25px;
  }
  .statistic .specific-statistic-courses {
    margin-bottom: 30px;
  }
  .statistic .specific-statistic-learners {
    margin-top: 30px;
  }
  .statistic .specific-statistic .item-name {
    line-height: 60px;
  }
  .statistic .specific-statistic .item-number {
    line-height: 55px;
  }
}

@media screen and (max-width: 415px) {
  .become-a-member {
    background-position: -55px;
  }
}

.footer {
  margin-top: 135px;
  font-family: "utm_bryantlgregular";
}

.footer-content {
  height: 258px;
  background-color: #505353;
}

.footer-content .brand-logo {
  margin-bottom: 45px;
}

.footer-content .brand-logo-img {
  height: 60px;
  width: 292px;
  background-image: url(../assets/img/hapo_learn_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-content .brand-logo-quote p {
  width: 250px;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -1px;
  color: #ffffff;
  margin-left: 90px;
}

.footer-content .first-column {
  padding-right: 50px;
}

.footer-content .second-column {
  padding-left: 50px;
}

.footer-content .item-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  padding: 10px 0;
}

.footer-content .item-link {
  transition: transform .4s;
}

.footer-content .item-link:hover {
  transform: scale(1.2);
}

.footer-content .contact-icon {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px 15px 0px 15px;
}

.footer-content .contact-facebook {
  background-image: url(../assets/img/fb_icon.png);
  margin-left: 50px;
}

.footer-content .contact-phone {
  background-image: url(../assets/img/phone_icon.png);
}

.footer-content .contact-email {
  background-image: url(../assets/img/email_icon.png);
}

.footer-copyright {
  height: 35px;
  background-color: #454545;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.05em;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 60px;
  }
  .footer-content {
    height: 218px;
  }
  .footer-content .brand-logo {
    margin-bottom: 95px;
  }
  .footer-content .brand-logo-cover {
    margin-left: 25px;
    align-items: flex-start !important;
  }
  .footer-content .brand-logo-img {
    height: 35px;
    width: 170px;
  }
  .footer-content .brand-logo-quote p {
    width: 200px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1px;
    margin-left: 0px !important;
  }
  .footer-content .first-column {
    margin-top: 0px !important;
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-content .second-column {
    margin-top: 0px !important;
    padding-left: 20px;
  }
  .footer-content .item-link {
    font-size: 18px;
    line-height: 22px;
  }
  .footer-content .contact-icon {
    width: 40px;
    height: 40px;
    margin: 10px 10px 0px 10px;
  }
  .footer-content .contact-facebook {
    margin-left: 40px;
  }
}

@media screen and (min-width: 576px) and (max-width: 700px) {
  .footer .brand-logo-cover {
    padding-left: 0 !important;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    margin-top: 50px;
  }
  .footer-content {
    height: 360px;
  }
  .footer-content .brand-logo {
    margin-bottom: 30px;
    align-items: center;
  }
  .footer-content .brand-logo-cover {
    padding: 0px !important;
    margin-left: 20px;
    align-items: center !important;
  }
  .footer-content .brand-logo-img {
    height: 31px;
    width: 150px;
    margin-bottom: 5px;
  }
  .footer-content .brand-logo-quote {
    margin-left: 30px;
  }
  .footer-content .brand-logo-quote p {
    width: 175px;
    font-size: 14px;
    line-height: 17px;
  }
  .footer-content .first-column {
    padding-left: 0px;
    padding-right: 50px;
    margin-right: 30px;
  }
  .footer-content .second-column {
    padding-left: 65px;
  }
  .footer-content .contact-icon {
    width: 30px;
    height: 30px;
    margin-bottom: 60px;
  }
}

.login-register-form {
  font-family: "utm_bryantlgregular";
}

.login-register-form .modal-title {
  position: relative;
}

.login-register-form .modal-title .close-tab {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  right: -15px;
  border: 0;
  background-color: #B2D235;
}

.login-register-form .modal-title .fa-times {
  color: #ffffff;
  font-size: 22px;
}

.login-register-form .nav-link {
  height: 65px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  line-height: 31px;
  font-weight: normal;
  color: #B2D235;
  -webkit-text-stroke-width: 1.5px;
}

.login-register-form .nav-item {
  background: #ffffff;
}

.login-register-form .nav-item .active {
  background: #B2D235;
  color: #ffffff;
}

.login-register-form .login-username {
  margin-top: 40px !important;
}

.login-register-form .form-group {
  margin: 25px 15px;
}

.login-register-form .form-group label {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  opacity: 0.8;
  margin-bottom: 6px;
}

.login-register-form .form-control {
  height: 50px;
  background-color: #F2F2F2;
}

.login-register-form .font-weight-bold {
  margin-bottom: 0;
}

.login-register-form .form-check-custom {
  margin-left: 0 !important;
}

.login-register-form .form-check-label {
  height: 27px;
  display: flex;
  justify-content: center;
}

.login-register-form .form-check-label p {
  cursor: pointer;
}

.login-register-form .font-weight-bold {
  padding-right: 15px;
}

.login-register-form .form-check-input {
  position: relative;
  cursor: pointer;
  margin-right: 5px;
}

.login-register-form .form-check-input:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #e9e9e9;
  border-radius: 2px;
}

.login-register-form .form-check-input:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  background-color: #B2D235;
}

.login-register-form .form-check-input:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.login-register-form .text-right {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #B2D235;
  opacity: 0.8;
}

.login-register-form .button-cover .btn {
  width: 200px;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
  background: #B2D235;
  color: #ffffff;
  box-shadow: inset 0px 1.5px 2px #6F8710;
  border-radius: 22px;
  margin-top: 10px;
}

.login-register-form .button-cover .btn:hover {
  color: #11114E !important;
}

.login-register-form .login-with .horizontal-rule {
  width: 180px;
}

.login-register-form .login-with p {
  width: 110px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.5px;
  margin-bottom: 7px;
}

.login-register-form .login-with-account {
  margin: 0 15px;
}

.login-register-form .login-with-account a {
  width: 100%;
  height: 55px;
  color: #ffffff;
  font-size: 20px;
}

.login-register-form .login-with-account-google {
  background: #DC4E41;
}

.login-register-form .login-with-account-google:hover {
  opacity: 0.8;
}

.login-register-form .login-with-account-facebook {
  background: #3B5999;
}

.login-register-form .login-with-account-facebook:hover {
  opacity: 0.8;
}

.login-register-form .register-form .form-group {
  margin: 35px 15px;
}

.login-register-form .register-form .register-username {
  margin-top: 45px;
}

.login-register-form .register-form .button-cover {
  margin-top: 20px;
  margin-bottom: 45px;
}

.login-register-form .register-form .button-register {
  margin-top: 20px;
}

@media screen and (max-width: 575px) {
  .modal-dialog-centered {
    display: flex;
    justify-content: center;
    padding: 0px 10px;
  }
  .modal-content-custom {
    width: 93%;
  }
  .modal-content-custom .modal-title .close-tab {
    width: 25px;
    height: 25px;
    position: absolute;
    top: -12px;
    right: -12px;
  }
  .modal-content-custom .modal-title .fa-times {
    font-size: 18px;
  }
  .modal-content-custom .nav-link {
    height: 55px;
    font-size: 22px;
    line-height: 25px;
    -webkit-text-stroke-width: 1px;
  }
  .modal-content-custom .login-username {
    margin-top: 25px !important;
  }
  .modal-content-custom .form-group {
    margin: 20px 15px;
  }
  .modal-content-custom .form-group label {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.8;
    margin-bottom: 4px;
  }
  .modal-content-custom .form-control {
    height: 45px;
  }
  .modal-content-custom .form-check-label p {
    font-size: 16px;
    margin-top: 3px;
  }
  .modal-content-custom .form-check-input {
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  .modal-content-custom .text-right {
    font-size: 16px;
  }
  .modal-content-custom .login-with .horizontal-rule {
    width: 120px;
  }
  .modal-content-custom .login-with p {
    width: 120px;
    font-size: 18px;
  }
  .modal-content-custom .login-with-account a {
    width: 100%;
    height: 45px;
    font-size: 20px;
  }
  .modal-content-custom .login-with-account-facebook {
    margin-bottom: 25px !important;
  }
  .modal-content-custom .register-form .form-group {
    margin: 25px 15px;
  }
  .modal-content-custom .register-form .register-username {
    margin-top: 35px;
  }
  .modal-content-custom .register-form .button-cover {
    margin-top: 10px;
  }
  .login-register-form .form-check-label {
    justify-content: center;
    margin-bottom: 0 !important;
  }
  .login-register-form .form-check-input {
    margin-right: 0;
  }
  .login-register-form .font-weight-bold {
    padding-right: 0 !important;
  }
}

@media screen and (max-width: 415px) {
  .form-check-custom {
    align-items: center !important;
  }
  .form-check-custom .form-check-input {
    width: 14px;
    height: 14px;
    margin-left: 0;
  }
  .form-check-custom a {
    text-align: center !important;
    font-size: 15px;
    white-space: nowrap;
  }
  .form-check-custom .form-check-label {
    padding-right: 5px;
  }
  .form-check-custom .text-right {
    text-align: end !important;
  }
  .login-register-form .font-weight-bold {
    margin-top: 2px !important;
    margin-left: 10px !important;
    font-size: 15px !important;
    letter-spacing: -0.5px;
  }
}
/*# sourceMappingURL=style.css.map */